tbody>tr>:nth-child(2){
 text-align:center;
}

tbody>tr>:nth-child(3){
 text-align:center;
}

tbody>tr>:nth-child(4){
 text-align:center;
}

tbody>tr>:nth-child(5){
 text-align:center;
}